<div class="italy-flag"></div>
<nav class="navbar navbar-expand-xxl bg-light">
  <div class="container-xxl">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center gap-2"
      href="#"
    >
      <img src="/assets/img/savinelli_logo.png" alt="savinelli logo image" />
      <h1 class="fs-1 fw-bold mt-3">Shop</h1>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngFor="let item of navItems" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="item.path"
            routerLinkActive="active"
            >{{ item.title }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
