<div class="container text-center">
  <h1>Our Heritage</h1>
  <div class="d-flex flex-column gap-5">
    <div class="row gx-5">
      <div class="col-sm-6">
        <img src="/assets/img/Antenati.jpg" alt="savinelli" />
      </div>
      <div class="col-sm-6">
        <img src="/assets/img/about-2.jpg" alt="savinelli" />
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-sm-6">
        <img src="/assets/img/about-1.jpg" alt="savinelli" />
      </div>
      <div class="col-sm-6">
        <img src="/assets/img/_2FB1060_2.jpg" alt="savinelli" />
      </div>
    </div>
  </div>
</div>
